body{
    background-color: #eeeeee;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 2px;
    border-color:grey;
    height:0px;
    width:2%;
}
h1,h3{
    color:#66BFBF;
}

img{
    border-radius: 100%;
    width:50%;
    height:50%;
}
